# =========================
# App / Server
# =========================
NODE_ENV=development
PORT=3000

FRONTEND_ORIGINS=http://localhost:3000

# =========================
# Supabase
# =========================
SUPABASE_URL=https://ckypqhbpvqawsiuclnbe.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNreXBxaGJwdnFhd3NpdWNsbmJlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTQyODQsImV4cCI6MjA4Nzg5MDI4NH0.M62lqQzZ79m3gqTIBhggpNqRTpgAc_TG1-2pyQom1iM
SUPABASE_SERVICE_ROLE_KEY=eeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNreXBxaGJwdnFhd3NpdWNsbmJlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjMxNDI4NCwiZXhwIjoyMDg3ODkwMjg0fQ.9Dh0JdFbgi9CmkeJ-ZOeqsesZ7AsXTRjyw5GbE6vZ7U

# =========================
# Stripe
# =========================
STRIPE_WEBHOOK_SECRET=whsec_XSQZ7aQSDWnRLptMBB5kV2ud5H6XvsDh
STRIPE_B2B_PAYMENT_LINK=https://buy.stripe.com/4gM00b39WeFK47U2zm9bO01

# =========================
# AI / Search APIs
# =========================
GEMINI_API_KEY=AIzaSyDWi7zILBsia3jR05IpXEyLryeDIZnS1jQ
GEMINI_MODEL=gemini-2.5-flash
SERPER_API_KEY=c00fb7b39622e93b114258a7cef9c29052b83fdf

# =========================
# Affiliate
# =========================
ML_AFFILIATE_CAMPAIGN=jv20260228192206
AMAZON_AFFILIATE_TAG=tu_tag_afiliado-20